h1{
    color: rgb(0, 8, 69);
}
.part-1{
    width: 150px;
    padding: 50px; 
    margin: 0 auto;
    border: 15px solid aqua;
    background-color: rgb(50, 77, 250);
}
.part-1{
    font-size: x-large;
}